{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="/static/Main/css/Main.css">

<div class="columns">
    <div class="column is-four-fifths">
        <div class="box">
            <h1 class="subtitle">Temp Profile</h1>
            <canvas id="lineChart"></canvas>
        </div>
    </div>
    <div class="column is-one-fifth">
        <canvas id="polarChart"></canvas>
    </div>
</div>

<script>

    var lineData = {
      labels: ['1'],
      datasets: [{
        data: [1],
        label: "Boiler",
	fill: false,
	borderColor: 'rgb(255, 0, 0)'
      }, {
        data: [1],
        label: "Grouphead",
	fill: false,
        borderColor: 'rgb(255, 0, 50)'
      }, {
        data: [1],
        label: "Ambient1",
	fill: false,
        borderColor: 'rgb(0, 0, 255)'
      },{
        data: [1],
        label: "Ambient2",
	fill: false,
        borderColor: 'rgb(0, 150, 255)'
      },{
        data: [1],
        label: "Ambient3",
	fill: false,
        borderColor: 'rgb(150, 0, 255)'
      },{
        data: [1],
        label: "Ambient4",
	fill: false,
        borderColor: 'rgb(150, 150, 255)'
      },{
	data: [0],
	label: "",
	fill: false,
	borderColor: 'rgb(255, 0, 0)'
	}]
    };

    var lineChart = new Chart(document.getElementById("lineChart"), {
      type: 'line',
      data: lineData,
      options: {
        title: {
          display: false
        },
	elements: {
		point : {
			radius: 0
		}
	},
	legend: {
                display: false
        }
      }
    });

    var polarData = {
      labels: ["Boiler", "GroupHead", "Ambient1", "Ambient2", "Ambient3", "Ambient4"],
      datasets: [{
        data: [1, 1, 1, 1, 1, 1],
        backgroundColor: [
          "rgba(255, 0, 0, 0.6)",
          "rgba(255, 0, 50, 0.6)",
          "rgba(0, 0, 255, 0.6)",
          "rgba(0, 150, 255, 0.6)",
          "rgba(150, 0, 255, 0.6)",
          "rgba(150, 150, 255, 0.6)"
        ]
      }]
    };

    var polarChartOptions = {
      startAngle: -Math.PI / 4,
      animation: {
        animateRotate: false
      },
	title : {
		display : false
	},
	legend: {
		display: false
	}
   };

    var polarAreaChart = new Chart(document.getElementById("polarChart"), {
      type: 'polarArea',
      data: polarData,
      options: polarChartOptions
    });

    var refresh = function(){
        var requests = $.get('/main/read');
        var tm = requests.done(function(r){

                polarAreaChart.data.datasets[0].data = [r[1], r[2], r[3], r[4], r[5], r[6]];
                polarAreaChart.update();

                // add the point
                lineChart.data.labels.push(r[0]);
                lineChart.data.datasets[0].data.push(r[1]);
                lineChart.data.datasets[1].data.push(r[2]);
                lineChart.data.datasets[2].data.push(r[3]);
                lineChart.data.datasets[3].data.push(r[4]);
                lineChart.data.datasets[4].data.push(r[5]);
                lineChart.data.datasets[5].data.push(r[6]);
		if (lineChart.data.labels.length > 80) {
		lineChart.data.labels.splice(0,1);
                lineChart.data.datasets[0].data.splice(0,1);
                lineChart.data.datasets[1].data.splice(0,1);
                lineChart.data.datasets[2].data.splice(0,1);
                lineChart.data.datasets[3].data.splice(0,1);
                lineChart.data.datasets[4].data.splice(0,1);
                lineChart.data.datasets[5].data.splice(0,1);
		}

                lineChart.update();
        });
    }

    setInterval(refresh, 500);




</script>

{% endblock %}
