{% extends "base.html" %}

{% block content %}

<div class="tile is-ancestor is-fullheight">
    <div class="tile is-vertical is-12">
        <div class="tile">
            <div class="tile is-parent is-9">
                <article class="tile is-child box has-background-grey-darker">
                    <canvas id="lineChart2" style="width=100%;height=100%"></canvas>
                </article>
            </div>
            <div class="tile is-parent is-3">
                <article class="tile is-child box has-background-black">
                    <div class="columns is-vcentered">
                        <div class="column is-12">
                            <br><br>
                            <canvas id="polarChart"></canvas>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <div class="tile">
            <div class="tile is-parent is-12">
                <article class="tile is-child box has-background-grey-darker">
                    <canvas id="lineChart" style="width=100%;height=100%"></canvas>
                </article>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<script>

    var chartColors = {
        pressure: 'rgb(255, 255, 255)',
        grouphead1: 'rgb(255, 0, 0)',
        grouphead2: 'rgb(255, 100, 0)',
        boiler2: 'rgb(100, 0, 255)',
        boiler1: 'rgb(0, 0, 255)',
        boiler3: 'rgb(0, 100, 255)'
    };

    var polarChartColors = {
        pressure: 'rgba(255, 255, 255, 0.5)',
        grouphead1: 'rgba(255, 0, 0, 0.5)',
        grouphead2: 'rgba(255, 100, 0, 0.5)',
        boiler2: 'rgba(100, 0, 255, 0.5)',
        boiler1: 'rgba(0, 0, 255, 0.5)',
        boiler3: 'rgba(0, 100, 255, 0.5)',
        effects: 'rgba(255, 255, 255, 0.5)'
    };

    var color = Chart.helpers.color;

    var lineData = {
      labels: ['1'],
      datasets: [{
        data: [1],
        label: "Boiler1",
	    backgroundColor: chartColors.boiler1,
        borderColor: chartColors.boiler1,
        pointBorderColor: chartColors.boiler1,
        pointBackgroundColor: chartColors.boiler1,
        fill: false,
        pointRadius: 0,
        outerGlowWidth: 40,
        outerGlowColor: chartColors.boiler1,
        shadowBlur: 10,
        shadowColor: chartColors.boiler1
      }, {
        data: [1],
        label: "Grouphead1",
	    backgroundColor: chartColors.grouphead1,
        borderColor: chartColors.grouphead1,
        pointBorderColor: chartColors.grouphead1,
        pointBackgroundColor: chartColors.grouphead1,
        fill: false,
        pointRadius: 0,
        outerGlowWidth: 40,
        outerGlowColor: chartColors.grouphead1,
        shadowBlur: 10,
        shadowColor: chartColors.grouphead1
      }, {
        data: [1],
        label: "Grouphead2",
	    backgroundColor: chartColors.grouphead2,
        borderColor: chartColors.grouphead2,
        pointBorderColor: chartColors.grouphead2,
        pointBackgroundColor: chartColors.grouphead2,
        fill: false,
        pointRadius: 0,
        outerGlowWidth: 40,
        outerGlowColor: chartColors.grouphead2,
        shadowBlur: 10,
        shadowColor: chartColors.grouphead2
      },{
        data: [1],
        label: "Boiler2",
	    backgroundColor: chartColors.boiler2,
        borderColor: chartColors.boiler2,
        pointBorderColor: chartColors.boiler2,
        pointBackgroundColor: chartColors.boiler2,
        fill: false,
        pointRadius: 0,
        outerGlowWidth: 40,
        outerGlowColor: chartColors.boiler2,
        shadowBlur: 10,
        shadowColor: chartColors.boiler2
      },{
        data: [1],
        label: "Boiler3",
	    backgroundColor: chartColors.boiler3,
        borderColor: chartColors.boiler3,
        pointBorderColor: chartColors.boiler3,
        pointBackgroundColor: chartColors.boiler3,
        fill: false,
        pointRadius: 0,
        outerGlowWidth: 40,
        outerGlowColor: chartColors.boiler3,
        shadowBlur: 10,
        shadowColor: chartColors.boiler3
      },{
	data: [0],
	label: "",
	fill: false,
	borderColor: 'rgb(255, 0, 0)'
	}]
    };

    var lineData2 = {
      labels: ['1'],
      datasets: [{
        data: [1],
        label: "Pressure",
	    backgroundColor: chartColors.pressure,
        borderColor: chartColors.pressure,
        pointBorderColor: chartColors.pressure,
        pointBackgroundColor: chartColors.pressure,
        fill: false,
        pointRadius: 0,
        outerGlowWidth: 40,
        outerGlowColor: chartColors.pressure,
        shadowBlur: 10,
        shadowColor: chartColors.pressure
      },{
	data: [0],
	label: "",
	fill: false,
	borderColor: 'rgb(255, 0, 0)'
	}]
    };

    var lineChart = new Chart(document.getElementById("lineChart"), {
      type: 'line',
      data: lineData,
      options: {
        maintainAspectRatio: false,
        animation: false,
        layout: {
          padding: 40
        },
        scales:{
            xAxes: [{
                display: true
            }],
	    y: {
                type: 'linear',
                min: 0,
                max: 200
            }
        },
        title: {
          display: false
        },
	elements: {
		point : {
			radius: 0
		}
	},
	legend: {
                display: false
        }
      }
    });

    var lineChart2 = new Chart(document.getElementById("lineChart2"), {
      type: 'line',
      data: lineData2,
      options: {
	animation: false,
        maintainAspectRatio: false,
        layout: {
          padding: 40
        },
        scales:{
            xAxes: [{
                display: false
            }],
            y: {
                type: 'linear',
                min: 0,
                max: 200
            }
	},
        title: {
          display: false
        },
	elements: {
		point : {
			radius: 0
		}
	},
	legend: {
                display: false
        }
      }
    });

    var polarData = {
      labels: ["Boiler1", "GroupHead1", "GroupHead2", "Boiler2", "Boiler3"],
      datasets: [{
        data: [1, 1, 1, 1, 1],
        backgroundColor: [
          polarChartColors.boiler1,
          polarChartColors.grouphead1,
          polarChartColors.grouphead2,
          polarChartColors.boiler2,
          polarChartColors.boiler3,
        ],
        borderColor: [
          polarChartColors.boiler1,
          polarChartColors.grouphead1,
          polarChartColors.grouphead2,
          polarChartColors.boiler2,
          polarChartColors.boiler3,
        ],
        outerGlowWidth: 20,
        outerGlowColor: polarChartColors.effects
        }]
    };

    var polarChartOptions = {
      startAngle: -Math.PI / 4,
      animation: false,
	title : {
		display : false
	},
	legend: {
		display: false
	},
	layout: {
          padding: 20
        }
   };

    Chart.scaleService.defaults.radialLinear.ticks.backdropColor = 'rgba(0, 0, 0, 0)';

    var polarAreaChart = new Chart(document.getElementById("polarChart"), {
      type: 'polarArea',
      data: polarData,
      options: polarChartOptions
    });

    var refresh = function(){
        var requests = $.get('/main/read');
        var tm = requests.done(function(r){

		ct = 0
		cp = 0
		temps = []
       		for (const [key, value] of Object.entries(r)){
			
			if (key.includes("temp")){
				lineChart.data.datasets[ct].data.push(value)
				temps[ct] = value
				ct = ct + 1				
			}
			if (key.includes("pressure")){
				lineChart2.data.datasets[cp].data.push(value)
				cp = cp + 1
			}
			if (key.includes("time")){
				lineChart.data.labels.push(value)
				lineChart2.data.labels.push(value)
				if (lineChart.data.labels.length > 200){
					lineChart.data.labels.pop();
					lineChart.data.labels.pop();
                                        lineChart.data.datasets.forEach((dataset) => {
                                                dataset.data.shift();
                                        });
				}
				if (lineChart2.data.labels.length > 200){
                                        lineChart2.data.labels.pop();
					lineChart2.data.datasets.forEach((dataset) => {
						dataset.data.shift();
					});
                                }
			}

		}
		polarAreaChart.data.datasets[0].data = temps;
                polarAreaChart.update();
                lineChart.update();
                lineChart2.update();
	//refresh();
        });
    }

    //refresh();
    setInterval(refresh, 500);

</script>

{% endblock %}
