
{% extends "base.html" %}

{% block content %}

{% if 'graphs' in args.keys() %}
{% for graph in args['graphs'] %}

<div class="modal" id="{{graph}}_profiling">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
	<p class="modal-card-title" id="{{graph}}_profiling_title">{{graph}} profiling</p>
	<button class="delete" onclick="submit_custom_profile('{{graph}}');"  aria-label="close"></button>
    </header>
    <section class="modal-card-body">
        <div class="box has-background-grey-darker">
                <div class="block" style="position:relative; height:28vh; width:55vh">
                <canvas id="{{graph}}_profiling_chart"></canvas>
                </div>
        </div>
	<div class="columns">
	<!--<div class="column">
		<button class="button is-info is-fullwidth" onclick="submit_custom_profile('{{graph}}');">Submit Changes</button>
	</div>-->	
	<div class="column">
        	<button class="button is-info is-fullwidth" onclick="revert_custom_profile('{{graph}}');">Revert Changes</button>
        </div>
        <!--<div class="column">
                <button class="button is-info is-fullwidth" onclick="save_custom_profile('{{graph}}');">Save Changes</button>
        </div>-->
	<div class="column">
	<div class="select is-fullwidth" align="right">
		<select id="{{graph}}_profiling_select" onchange="switch_to_profile('{{graph}}');">
			<option>Profiling Options</option>
		</select>
	</div>
	</div>
	</div>
    </section>
    <footer class="modal-card-foot">
<button class="button is-info is-fullwidth is-outlined" onclick="save_custom_profile('{{graph}}');">Save Changes</button>
    </footer>
  </div>
</div>

{% endfor %}
{% endif %}


<div class="columns">
<div class="column is-12">
	{% if 'graphs' in args.keys() %}
	{% for graph in args['graphs'] %}
	<div class="box has-background-grey-darker">
		<div class="block" style="position: relative; height:{{80/args['graphs']|length}}vh; width:100%">
		<canvas id="{{graph}}"></canvas>
		</div>
	</div>
	{% endfor %}
	{% endif %}
</div>
</div>

<script>

    function switch_to_profile(graph){
	var select_form = document.getElementById(graph.concat('_profiling_select'));
	var name = select_form.options[select_form.selectedIndex].value;
	$.get('switch_profile_option/'.concat(name))
        close_modal(graph.concat('_profiling'))
        open_profiling_settings(graph.concat('_profiling'))
    }

    function save_custom_profile(graph){
	$.get('submit_custom_profile/'.concat(graph).concat(get_scatter_data(modal_chart)))
	let name = prompt("Enter Custom Profile Name:")
	$.get('save_custom_profile/'.concat(graph).concat('/').concat(name))
    }

    function submit_custom_profile(graph){
	$.get('submit_custom_profile/'.concat(graph).concat(get_scatter_data(modal_chart)))
	close_modal(graph.concat('_profiling'))
    }

    function revert_custom_profile(graph){
        $.get('revert_custom_profile/'.concat(graph))
	close_modal(graph.concat('_profiling'))
	open_profiling_settings(graph.concat('_profiling'))
    }

    function open_profiling_settings(id){
	var requests = $.get('custom_profile_settings/'.concat(id));
	var tm = requests.done(function(r){
		console.log(r);
		if (typeof modal_chart != 'undefined') {
			modal_chart.destroy();
		}
		globalThis.modal_chart = new Chart(document.getElementById(id.concat('_chart')), {
                	type: 'scatter',
                        data: {},
                        options: customizingOptions,
                });
		//modal_chart.options.dragData = true;
		//modal_chart.options.dragX = true;
		index = 0;
		for (index=0;index<r.length;index++){
        		console.log(r[index])
			modal_chart.data.datasets.push({
					label: id,
					pointRadius: 10,
					pointHoverRadius: 10,
					showLine:true,
					data: r[index]
				})
			}
		{% if 'graphs' in args.keys() %}
        	{% for graph in args['graphs'] %}
		if (id.includes('{{graph}}')){
			index = 0;
			for (index=0;index<modal_chart.data.datasets.length;index++){
				modal_chart.data.datasets[index].backgroundColor = chartColors.{{graph}}[index].replace(')', ', 0.10)').replace('rgb', 'rgba'),
                        	modal_chart.data.datasets[index].borderColor = chartColors.{{graph}}[index],
                        	modal_chart.data.datasets[index].pointBorderColor = chartColors.{{graph}}[index],
                        	modal_chart.data.datasets[index].pointBackgroundColor = chartColors.{{graph}}[index].replace(')', ', 0.40)').replace('rgb', 'rgba'),
                        	modal_chart.data.datasets[index].outerGlowColor = chartColors.{{graph}}[index],
                        	modal_chart.data.datasets[index].shadowColor = chartColors.{{graph}}[index]
			}
		}
        	{% endfor %}
       		{% endif %}
		setBounds(modal_chart);
		modal_chart.update();
		var requests = $.get('get_profile_options/'.concat(id.replace('_profiling', '')))
		var tm = requests.done(function(r){
			select = document.getElementById(id.concat('_select'))
			var i = 1;
			for (const [key, value] of Object.entries(r)) { 
				select[i] = new Option(key, key, false, false)
				i += 1
			}
		});
		open_modal(id);
	});
    }

    var customizingOptions = {
	animation: {
		duration: 0
	},
	dragData: true,
	dragX: true,
	maintainAspectRatio: false,
        layout: {
            padding:{
                left: 0,
                right: 0,
                top: 0,
                bottom: -10
            }
        },
        scales:{
            xAxes: [{
                display: false,
                offset: false,
                grace: '0%'
            }],
        },
        title: {
          display: false
        },
        elements: {
                point : {
                        radius: 0
                }
        },
        legend: {
                display: false,
                position: 'right'
        }

    }

    function get_scatter_data(chart){
	let x = '/'
	let y = '/'
	index = 0;
	for (index=0; index<chart.data.datasets.length;index++){
	for (const idx in chart.data.datasets[0].data){
		x+=chart.data.datasets[index].data[idx].x;
		y+=chart.data.datasets[index].data[idx].y;
		x+=',';
		y+=',';
	}
	x+='|'
	y+='|'
	}
	return x+y
    }

    function open_modal(id){
	document.getElementById(id).classList.add('is-active');
    }

    function close_modal(id){
        document.getElementById(id).classList.remove('is-active');
    }

    function toggle_modal(id){
	element = document.getElementById(id)
	var ind = 0;
	for (const [idx, string] of element.classList.entries()){
		if (string.includes('is-active')){
			close_modal(id)
			ind = 1
		}
	}
	if (ind == 0){
		open_modal(id)
	}
    }

    var record_button = document.navbar['record'];
    var stop_button = document.navbar['stop'];
    var profile_settings_button = document.getElementById('profile_settings_trigger');    
    var profile_button = document.navbar['profile'];
    var end_button = document.navbar['end'];
    var start_button = document.navbar['start'];


    stop_button.style.display = 'none';
    end_button.style.display = 'none';
    start_button.style.display ='none';
    record_button.style.display = 'none';

    var recording = 0;
    var profiling_stage = 0
    var enable_refresh = 1;

    profile_button.onclick = function(){
	profile_button.style.display = 'none';
	start_button.style.display = 'inline';
	end_button.style.display = 'inline';
	profiling_stage = 1;
    }

    setupProfiles = function(){
	{% if 'graphs' in args.keys() %}
        {% for graph in args['graphs'] %}
                var {{graph}}_ = 0
		var xmin = {{graph}}.data.datasets[0].data[0].x;
                var xmax = {{graph}}.data.datasets[0].data[{{graph}}.data.datasets[0].data.length - 1].x
                var requests = $.get('custom_profile_settings/'.concat('{{graph}}_profiling'));
                var tm = requests.done(function(r){
                        for (index=0;index<r.length;index++){
                                console.log(r[index])
                                {{graph}}.data.datasets[{{graph}}_maintain+index].data = [{x:xmin,y:r[index][0].y},{x:xmax,y:r[index][0].y}]
                        	{{graph}}.data.datasets[{{graph}}_maintain+index].hidden = false;
			}
                });
	{{graph}}.update();
        {% endfor %}
        {% endif %}
        profiling_stage = 2;
    }

    removeProfiles = function(){
	{% if 'graphs' in args.keys() %}
        {% for graph in args['graphs'] %}
                var xmin = {{graph}}.data.datasets[0].data[0].x;
                var xmax = {{graph}}.data.datasets[0].data[{{graph}}.data.datasets[0].data.length - 1].x
                var requests = $.get('custom_profile_settings/'.concat('{{graph}}_profiling'));
                var tm = requests.done(function(r){
                        for (index=0;index<r.length;index++){
                                console.log(r[index])
                                {{graph}}.data.datasets[{{graph}}_maintain+index].hidden = true;
				{{graph}}.data.datasets[{{graph}}_maintain+index].data = [{x:xmin,y:0},{x:xmax,y:0}];
                        }
                });
	setBounds({{graph}})
        {{graph}}.update();
        {% endfor %}
        {% endif %}
    }

    targetProfiles = function(){
	{% if 'graphs' in args.keys() %}
        {% for graph in args['graphs'] %}
                var xmin = {{graph}}.data.datasets[0].data[0].x;
     		var xmax = {{graph}}.data.datasets[0].data[{{graph}}.data.datasets[0].data.length - 1].x
                for (index={{graph}}_maintain;index<{{graph}}.data.datasets.length;index++){
                	//console.log(index)
                        //console.log({{graph}}.data.datasets[index])
                        {{graph}}.data.datasets[index].data[0].x = xmin;
                        {{graph}}.data.datasets[index].data[1].x = xmax;
                }
        {% endfor %}
       	{% endif %}
    }

    enableProfiles = function(){
	$.get('start_profiling')
	clear_graphs(50);
	{% if 'graphs' in args.keys() %}
        {% for graph in args['graphs'] %}
                var requests = $.get('custom_profile_settings/'.concat('{{graph}}_profiling'));
                var tm = requests.done(function(r){
                        for (index=0;index<r.length;index++){
                                console.log(r[index])
                                {{graph}}.data.datasets[{{graph}}_maintain+index].data = r[index]
				{{graph}}.data.datasets[{{graph}}_maintain+index].data.unshift( {x:-10, y:r[index][0].y} )
				for (idx=0;idx<{{graph}}.data.datasets[index].data.length;idx++){
					{{graph}}.data.datasets[index].data[idx].x = 5*(idx/50 - 2);
				}
                        }
                });
	{{graph}}.options.scales.xAxes[0].ticks.min = -10
        {{graph}}.options.scales.xAxes[0].ticks.max = 60
	//sleep(100);
        {{graph}}.update();
        //setBounds({{graph}})
        {% endfor %}
        {% endif %}
	profiling_stage = 4;
    }

    profilingStage = function(){
	if (profiling_stage == 1){
		setupProfiles();
	}
	if (profiling_stage != 4){
		targetProfiles();
	}
	if (profiling_stage == 3){
		enableProfiles();
	}
    }

    record_button.onclick = function(){
	recording = 1;
	console.log('recording...')
	record_button.style.display = 'none';
	stop_button.style.display = 'inline';
    }

    stop_button.onclick = function(){
        recording = 0;
	console.log('end recording')
        stop_button.style.display = 'none';
        record_button.style.display = 'inline';
        clear_graphs(400);
    }

    start_button.onclick = function(){
	start_button.style.display = 'none';
	profiling_stage = 3;
    }

    end_button.onclick = function(){
	start_button.style.display = 'none';
        end_button.style.display = 'none';
        profile_button.style.display = 'inline';
	profiling_stage = 0;
	removeProfiles();
    }
	 
    profile_settings_button.onclick = function(){
	id = 'profile_settings';
	if (document.getElementById(id).classList.value.includes('active')){
		close_modal(id);
	} else {
		open_modal(id);
    	}
    }

    var chartColors = {
        pressure: ['rgb(255, 255, 255)', 'rgb(255, 255, 255)', 'rgb(255, 255, 255)'],
        flow: ['rgb(0, 100, 255)', 'rgb(0, 0, 255)'],
        temperature: ['rgb(255, 0, 100)', 'rgb(255, 100, 0)']
    };

    var color = Chart.helpers.color;
	
    var zeroDataSet = {
	data: [],
        label: "template",
	backgroundColor: chartColors.pressure[0].replace(')', ', 0.10)').replace('rgb', 'rgba'),
        borderColor: chartColors.pressure[0],
        pointBorderColor: chartColors.pressure[0],
        pointBackgroundColor: chartColors.pressure[0],
        fill: true,
        pointRadius: 0,
        outerGlowWidth: 40,
        outerGlowColor: chartColors.pressure[0],
        shadowBlur: 10,
        shadowColor: chartColors.pressure[0]
    };
	 
    dataset = function(graph, idx){
	var color = "rgb('255', '255', '255')";
	console.log(graph);
	{% if 'graphs' in args.keys() %}    
	{% for graph in args['graphs'] %}
	if (graph.includes('{{graph}}')){
		color = chartColors.{{graph}}[idx];
        }
        {% endfor %}
        {% endif %}
	add = $.extend( true, {}, zeroDataSet),
	add.label = graph;
	add.showLine = true;
	add.backgroundColor = color.replace(')', ', 0.10)').replace('rgb', 'rgba');
	add.borderColor = color
	add.pointBorderColor = color
	add.pointBackgroundColor = color
	add.fill = true
	add.pointRadius = 0
	add.outerGlowWidth = 40
	add.outerGlowColor = color
	add.shadowBlur = 10
	add.shadowColor = color    
	return add
    }
	
    clear_graphs = function(min){
	{% if 'graphs' in args.keys() %}
        {% for graph in args['graphs'] %}
	if({{graph}}.data.datasets[0].data.length > min){
        while ({{graph}}.data.labels.length > min){
		{{graph}}_ = 0
                {{graph}}.data.labels.shift();
                {{graph}}.data.datasets.forEach((dataset) => {
                       	if ({{graph}}_ <= {{graph}}_maintain){
                        	dataset.data.shift();
				{{graph}}_ += 1
                	}
                });
        }
	}
        {% endfor %}
        {% endif %}
    }


    function setBounds(chart){
	if (chart.data.datasets[0].data.length > 1){
	var min = chart.data.datasets[0].data[0].x
	var max = chart.data.datasets[0].data[chart.data.datasets[0].data.length-1].x
//	chart.data.datasets.forEach((dataset) => {
//		if(dataset.data.length > 1){
//		//console.log(dataset.data)
//		min_ = dataset.data[0].x
//		max_ = dataset.data[dataset.data.length-1].x
        	//console.log(min)
		//console.log(min_)
//		if (min_ < min && min_ != 0){
//                	min = min_
//		}
//		if (max_ > max){
//			max = max_
//		}
//		}
  //      });
	chart.options.scales.xAxes[0].ticks.min = min
	chart.options.scales.xAxes[0].ticks.max = max
//	chart.update();
        }
    }
 
    var chartOptions = {
        maintainAspectRatio: false,
        animation: {
                duration: 0 //200
        },
	hover: {
		animationDuration: 0
	},
	responsiveAnimationDuration: 0,
        layout: {
            padding:{
		left: 0,
		right: 0,
		top: 0,
		bottom: -10
	    }
        },
        scales:{
            xAxes: [{
                display: false,
		offset: false,
		grace: '0%'
            }],
        },
        title: {
          display: false
        },
	elements: {
		point : {
			radius: 0
		},
		line : {
			tension: 0
		}
	},
	legend: {
               	display: false,
		position: 'right'
	}
    }

    {% if 'graphs' in args.keys() %}
    {% for graph in args['graphs'] %}
    var {{graph}} = new Chart(document.getElementById("{{graph}}"), {
      	type: 'scatter',
	options: chartOptions,
	data: {
		labels: [],
		datasets: [dataset('', 0)]
	}
    });
    var {{graph}}_maintain = 0 
    {% endfor %}
    {% endif %}

    update_graphs = function(r){

                {% if 'graphs' in args.keys() %}
                {% for graph in args['graphs'] %}
                var {{graph}}_ = 0
                {% endfor %}
                {% endif %}
                for (const [key, value] of Object.entries(r)){
                        {% if 'graphs' in args.keys() %}
                        {% for graph in args['graphs'] %}
                        if (key.includes("{{graph}}") && enable_refresh == 1){
                                //console.log({{graph}}_)
                                {{graph}}.data.datasets[{{graph}}_].data.push({x:r["time"], y:value})
                                {{graph}}_ = {{graph}}_ + 1
                        }
                        {% endfor %}
                        {% endif %}
                        if (key.includes("time")){
                                {% if 'graphs' in args.keys() %}
                                {% for graph in args['graphs'] %}
                                {{graph}}.data.labels.push(value)
                                if ( profiling_stage < 3 && {{graph}}.data.labels.length > 400 ){ // removed RECORDING HERE
                                        {{graph}}.data.labels.shift();
                                        var {{graph}}__ = 0
                                        {{graph}}.data.datasets.forEach((dataset) => {
                                                if ({{graph}}__ < {{graph}}_maintain){
                                                        dataset.data.shift();
                                                        {{graph}}__ += 1
                                                }
                                        });
                                }
                                {% endfor %}
                                {% endif %}
                        }
                }

                if (profiling_stage != 0){
                        //console.log(profiling_stage)
                        profilingStage();
                }
                if (profiling_stage < 4){
                        {% if 'graphs' in args.keys() %}
                        {% for graph in args['graphs'] %}
                        //console.log({{graph}})
                        setBounds({{graph}});
                        {% endfor %}
                        {% endif %}
                }
                {% if 'graphs' in args.keys() %}
                {% for graph in args['graphs'] %}
                {{graph}}.update();
                {% endfor %}
                {% endif %}


    }

    var refresh = function(){
	while (enable_refresh == 0){
		sleep(100);
	}
	try{
        var requests = $.get('/main/read');
        var tm = requests.done(function(r){
		update_graphs(r);
	//setTimeout(refresh, 100);
        });
	} catch(err) {
		console.log(err)
		refresh();
	}
    }
    
    var init = function(){
        var requests = $.get('/main/read');
        var tm = requests.done(function(r){
		{% if 'graphs' in args.keys() %}
    		{% for graph in args['graphs'] %}
		var {{graph}}_ = 0
		{% endfor %}
    		{% endif %}
       		for (const [key, value] of Object.entries(r)){
			{% if 'graphs' in args.keys() %}
    			{% for graph in args['graphs'] %}
			if (key.includes("{{graph}}")){
				add = dataset("{{graph}}", {{graph}}_);
				add.data = [{x:r['time'], y:value}]
				{{graph}}.data.datasets[{{graph}}_] = add;
				{{graph}}_ = {{graph}}_ + 1;
			}
			{{graph}}_maintain = {{graph}}_
			{% endfor %}
    			{% endif %}
		}
		for (const [key, value] of Object.entries(r)){
			{% if 'graphs' in args.keys() %}
    			{% for graph in args['graphs'] %}
			if (key.includes("{{graph}}")){
				add = dataset("{{graph}}", {{graph}}_ - {{graph}}_maintain);
				add.borderDash = [10,5];
				add.data = [{x:0,y:0},{x:0,y:0}];
				add.hidden = true;
				{{graph}}.data.datasets[{{graph}}_] = add;
				{{graph}}_ = {{graph}}_ + 1;
			}
			{% endfor %}
    			{% endif %}
		}
		targetProfiles();
		{% if 'graphs' in args.keys() %}
    		{% for graph in args['graphs'] %}
		{{graph}}.update();
		//{{graph}}.options.scales.xAxes[0].display = true
		//{{graph}}.update();
		{% endfor %}
    		{% endif %}
        });
	var source = new EventSource("/main/continuous_read");
	source.onmessage = function(event){
    		console.log(event.data)
		update_graphs(JSON.parse(event.data))
	}
    }

    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    init();
    //refresh();

</script>

{% endblock %}
